<div class="clr-row clr-justify-content-around">
    <div class="clr-col-sm-12 clr-col-lg-4">
        <div class="card">
            <div class="card-header">
                New car:
            </div>
            <div class="card-block">
                <form [formGroup]="uploadForm"  clrForm>
                    <clr-input-container>
                        <label>Brand</label>
                        <input clrInput type="text" name="brand" required formControlName="brand"/>
                        <clr-control-error>Not a valid brand</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Model</label>
                        <input clrInput type="text" name="model" required formControlName="model"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Version</label>
                        <input clrInput type="text" name="version" required formControlName="version"/>
                        <clr-control-helper>eg. GT</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Horse power</label>
                        <input clrInput type="number" name="hp" required formControlName="hp"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Cylinders</label>
                        <input clrInput type="number" name="cylinders" required formControlName="cylinders"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Engine size</label>
                        <input clrInput type="number" name="engineSize" required formControlName="engineSize"/>
                        <clr-control-helper>Liters</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Weight</label>
                        <input clrInput type="number" name="weight" required formControlName="weight"/>
                        <clr-control-helper>Kg</clr-control-helper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container>
                    <clr-radio-container clrInline>
                        <label>Body style</label>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="bodyStyle" required value="4-door" formControlName="bodyStyle"/>
                            <label>4-Door</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="bodyStyle" required value="coupe" formControlName="bodyStyle"/>
                            <label>Coupe</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="bodyStyle" required value="convertible" formControlName="bodyStyle"/>
                            <label>Convertibel</label>
                        </clr-radio-wrapper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-radio-container>
                    <clr-radio-container clrInline>
                        <label>Drive type</label>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="driveType" required value="front" formControlName="driveType"/>
                            <label>Front wheel drive</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="driveType" required value="rear" formControlName="driveType"/>
                            <label>Rear wheel drive</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="driveType" required value="all" formControlName="driveType"/>
                            <label>All wheel drive</label>
                        </clr-radio-wrapper>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-radio-container>
                    <clr-input-container>
                        <label>Price</label>
                        <input clrInput type="number" name="price" required formControlName="price"/>
                        <clr-control-error>This field is required!</clr-control-error>
                    </clr-input-container><br>    
                    <button [disabled]="uploadForm.invalid" [clrLoading]="uploadBtnState" type="submit" class="btn btn-lg btn-primary-outline" (click)="onSubmit()">Save</button>
                </form> 
            </div>
        </div>
    </div>   
</div>
