<h2>Welcome to Car Trader</h2>
<h3>The innovative platform for purchasing YOUR new car.</h3><br><br><br>

<h3>Hot sales:</h3>

<div class="clr-row">
    <div class="clr-col-md-4 clr-col-6">
        <a class="card clickable">
            <div class="card-img">
                <img src="../assets/images/car1.jpeg">
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>BMW 340i GT</p>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">3.0 L</li>
                        <li class="list-group-item">340 HP</li>
                        <li class="list-group-item">1800 Kg</li>
                        <li class="list-group-item bold">Price: 45000 CHF</li>
                    </div>
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">6 cylinders</li>
                        <li class="list-group-item">4-Door</li>
                        <li class="list-group-item">All wheel drive</li>
                    </div>   
                </div>
            </div>
        </a>
    </div>
    <div class="clr-col-md-4 clr-col-6">
        <a class="card clickable">
            <div class="card-img">
                <img src="../assets/images/car2.jpeg">
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>Ford Mustang GT 500</p>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">4.4 L</li>
                        <li class="list-group-item">510 HP</li>
                        <li class="list-group-item">1700 Kg</li>
                        <li class="list-group-item bold">Price: 30000 CHF</li>
                    </div>
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">8 cylinders</li>
                        <li class="list-group-item">Coupe</li>
                        <li class="list-group-item">Rear wheel drive</li>
                    </div>   
                </div>
            </div>
        </a>
    </div>
    <div class="clr-col-md-4 clr-col-6">
        <a class="card clickable">
            <div class="card-img">
                <img src="../assets/images/car4.jpeg">
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>Lamborghini Huracan LP-610-4</p>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">5.2 L</li>
                        <li class="list-group-item">610 HP</li>
                        <li class="list-group-item">1600 Kg</li>
                        <li class="list-group-item bold">Price: 220000 CHF</li>
                    </div>
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">10 cylinders</li>
                        <li class="list-group-item">Coupe</li>
                        <li class="list-group-item">All wheel drive</li>
                    </div>   
                </div>
            </div>
        </a>
    </div>
</div>
