<div class="clr-row clr-align-items-center clr-justify-content-center">
  <div class="clr-col-lg">
    <h3>All cars</h3>
    <p></p>
  </div>
</div>
<div class="clr-row">
  <div>{{carList.brand}}</div>
        <div *ngFor="let car of carList" class="clr-col-lg-3 clr-col-6">
          <a class="card clickable">
            <div class="card-img">
                <img src="../assets/images/car1.jpeg">
            </div>
            <div class="card-block">
                <div class="card-text">
                    <p>{{carList.brand}} {{carList.model}} {{carList.version}}</p>
                </div>
                <div class="clr-row">
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">{{carList.engineSize}} L</li>
                        <li class="list-group-item">{{carList.hp}} HP</li>
                        <li class="list-group-item">{{carList.weight}} Kg</li>
                        <li class="list-group-item bold">Price: {{carList.price}} CHF</li>
                    </div>
                    <div class="clr-col-sm-12 clr-col-md-6">
                        <li class="list-group-item">{{carList.cylinders}} cylinders</li>
                        <li class="list-group-item">{{carList.bodyStyle}}</li>
                        <li class="list-group-item">{{carList.driveType}}</li>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="clr-col-lg-3 clr-col-6">
            <a class="card clickable">
                <div class="card-img">
                    <img src="../assets/images/car1.jpeg">
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <p>BMW 340i GT</p>
                    </div>
                    <div class="clr-row">
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">3.0 L</li>
                            <li class="list-group-item">340 HP</li>
                            <li class="list-group-item">1800 Kg</li>
                            <li class="list-group-item bold">Price: 45000 CHF</li>
                        </div>
                        <div class="clr-col-sm-12 clr-col-md-6">
                            <li class="list-group-item">6 cylinders</li>
                            <li class="list-group-item">4-Door</li>
                            <li class="list-group-item">Rear wheel</li>
                        </div>
                    </div>
                </div>
            </a>
        </div>
</div>
