<div class="clr-row clr-justify-content-around">
        <div class="clr-col-sm-12 clr-col-lg-4">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-block">
                    <form [formGroup]="registerForm" clrForm>
                        <clr-input-container>
                            <label>First name</label>
                            <input clrInput type="text" name="fname" required formControlName="fname"/>
                            <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                            <label>Last name</label>
                            <input clrInput type="text" name="lname" required formControlName="lname"/>
                            <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                        <clr-input-container>
                            <label>Username</label>
                            <input clrInput type="text" name="username" required formControlName="username"/>
                            <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                        <clr-password-container>
                            <label>Password</label>
                            <input clrPassword type="password" name="password" required formControlName="password"/>
                            <clr-control-error>This field is required!</clr-control-error>
                        </clr-password-container>
                    </form><br>
                    <button routerLink="/login" [disabled]="registerForm.invalid" [clrLoading]="searchBtnState" type="submit" class="btn btn-lg btn-primary-outline" (click)="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
